<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        {% if page.url != "/" %}
        <a href="{{ "/" | relative_url  }}" class="button"> ← Home </a>
        {% endif %}

        {% if page.url != "/about/" %}
        <a href="{{ "/" | relative_url  }}about" class="button">About </a>
        {% endif %}

        <a class="button is-link is-light" href="{{ "/" | relative_url  }}feed.xml">RSS</a>
      </div>
    </div>
  </div>
</nav>

<nav class="main-nav">
</nav>
