<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/rss+xml" title="Emad Elsaid" href="{{ "/" | relative_url  }}feed.xml">
</head>
<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if page.url != "/" %}
          <a href="{{ "/" | relative_url  }}" class="button is-rounded"> 🏠 Home </a>
          {% endif %}

          {% if page.url != "/about/" %}
          <a href="{{ "/" | relative_url  }}about" class="button is-rounded">👤 About</a>
          {% endif %}

          <a href="https://library.emadelsaid.com/users/0c731704-073d-4433-b38b-1dc912f7046c" class="button is-rounded">📕 My Books</a>

          <a class="button is-link is-light is-rounded" href="{{ "/" | relative_url  }}feed.xml">RSS</a>
          <a class="button is-info is-light is-rounded" rel="noopener" href="https://www.getrevue.co/profile/emad__elsaid">💌 Subscribe to newsletter</a>
        </div>
      </div>
    </div>
  </nav>

  {% if page.profile %}
  <div class="has-text-centered">
    <figure class="image container is-128x128">
      <a href="{{ "/" | relative_url  }}about">
        <img class="is-rounded" src="{{ "/" | relative_url  }}images/avatar.webp" alt="Avatar" />
      </a>
    </figure>
    <h1 class="title">{{ site.author }}</h1>
    <h2 class="subtitle">{{ site.description }}</h2>
  </div>
  {% endif %}

  {% if page.image %}
  <img src="{{ page.image }}" alt="{{ page.image_alt }}" title="{{ page.image_alt }}" width="100%" />
  {% endif %}

  <section class="section">
    <div class="container content is-medium">
    {{ content }}
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered has-text-grey">
      <p class="small">© Copyright {{ site.time | date: '%Y' }} {{ site.author }}</p>. This website doesn't track you. and also doesn't run a single line of javascript.
    </div>
  </footer>

</body>
</html>
