---
layout: default
archive: true
---

<section dir="auto">
  <h1 class="title" dir="auto">
    <time datetime="{{post.date}}" class="tag is-link is-light">{{ page.date | date:"%d %b %Y" }}</time>
    {{ page.title }}
    <hr/>
  </h1>
  {{content}}
</section>

<hr/>

<div class="card is-shadowless">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img class="avatar" src="{{ "/" | relative_url  }}images/avatar.png" alt="logo">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ site.author }}</p>
        <p class="subtitle is-6"><a href="http://twitter.com/{{ site.authorTwitter }}">@{{ site.authorTwitter }}</p>
      </div>
      <p class="is-pulled-right">
        {% include share.html %}
      </p>
    </div>
  </div>
</div>

<footer>
  <section id="sharing">
  </section>
</footer>
