---
layout: default
---

<section dir="auto">
  <h1 class="title has-text-centered" dir="auto">
    {{ page.title }} <br>
    <time datetime="{{post.date}}" class="tag is-link is-light">{{ page.date | date:"%d %b %Y" }}</time>
    <hr/>
  </h1>

  {% if page.video %}
  <figure class="image">
    <video width="100%" controls>
      <source src="{{ page.video[page.current_resolution] }}"><source/>
    </video>

    <div class="field has-addons">
      {% for resolution in page.video %}
      <p class="control">
        <a href="./{{resolution.first}}" class="button {% if page.current_resolution == resolution.first %} is-link {% endif %}">
          {{ resolution.first }}
        </a>
      </p>
      {% endfor %}
    </div>
  </figure>
  {% endif %}

  <div dir="auto">
    {{content}}
  </div>
</section>

<hr/>

<div class="card is-shadowless">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img class="is-rounded" src="{{ "/" | relative_url  }}images/avatar.jpg" alt="Avatar">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ site.author }}</p>
        <p class="subtitle is-6"><a href="http://twitter.com/{{ site.twitter.username }}">@{{ site.twitter.username }}</a></p>
        <p>
          <a class="button is-success is-light" href="https://github.com/emad-elsaid/emad-elsaid.github.io/edit/master/{{ page.path }}">Suggest changes</a>
          <a class="button is-info is-light" target="_blank" href="https://twitter.com/intent/tweet?text={{ site.domain_name }}{{ page.url }} - {{page.title}} by @{{ site.twitter.username }}">Tweet</a>
          <a class="button is-link is-light" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.domain_name }}{{ page.url }}">Share on Facebook </a>
        </p>
      </div>
    </div>
  </div>
</div>
