---
layout: default
---

<section dir="auto">
  <h1 class="title has-text-weight-bold" dir="auto">
    <div class="has-text-grey is-size-7">
      <time datetime="{{post.date}}">{{ page.date | date:"%d %b %Y" }}</time>
      {% for tag in page.tags %}
      <span> - {{ tag }} </span>
      {% endfor %}
    </div>
    {{ page.title }}
  </h1>

  <div class="media my-5">
    <div class="media-left">
      <figure class="image is-48x48 m-0">
        <img src="{{ "/" | relative_url  }}images/avatar.webp" alt="Avatar">
      </figure>
    </div>
    <div class="media-content">
      <div class="is-size-6">{{ site.author }}</div>
      <div class="is-size-7">
        <a href="https://twitter.com/intent/user?screen_name={{ site.twitter.username }}">@{{ site.twitter.username }}</a>
      </div>
    </div>
  </div>

  {% if page.video %}
  <figure class="image">
    <video width="100%" controls>
      <source src="{{ page.video[page.current_resolution] }}"><source/>
    </video>

    <div class="field has-addons">
      {% for resolution in page.video %}
      <p class="control">
        <a href="./{{resolution.first}}" class="button {% if page.current_resolution == resolution.first %} is-link {% endif %}">
          {{ resolution.first }}
        </a>
      </p>
      {% endfor %}
    </div>
  </figure>
  {% endif %}

  <div dir="auto">
    {{content}}
  </div>
</section>

<hr/>

<div class="columns">
  <div class="column">
    <a class="button is-fullwidth is-success is-light" rel="noopener" href="https://github.com/emad-elsaid/emad-elsaid.github.io/edit/master/{{ page.path }}">
      <span class="icon"><i class="fa-solid fa-pen"></i></span>
      <span> Suggest changes </span>
    </a>
  </div>
  <div class="column">
    <a class="button is-fullwidth is-info is-light" rel="noopener" target="_blank" href="https://twitter.com/intent/tweet?text={{ site.domain_name }}{{ page.url }} - {{page.title}} by @{{ site.twitter.username }}">
      <span class="icon"><i class="fa-brands fa-twitter"></i></span>
      <span>Tweet</span>
    </a>
  </div>
  <div class="column">
    <a class="button is-fullwidth is-link is-light" target="_blank" rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ site.domain_name }}{{ page.url }}">
      <span class="icon"><i class="fa-brands fa-facebook-f"></i></span>
      <span>Share on Facebook</span>
    </a>
  </div>
  <div class="column">
    <a class="button is-fullwidth is-info is-light" rel="noopener" href="https://www.getrevue.co/profile/emad__elsaid">
      <span class="icon"><i class="fa-solid fa-envelope-open-text"></i></span>
      <span> Subscribe to newsletter </span>
    </a>
  </div>
</div>
